///////////////////////////////////////////////////////////
//
// Add styles here
//
///////////////////////////////////////////////////////////


// variables
@color__jet: #333333;
@color__rich-black: #0a0a0a;
@color__eerie-black: #1F1F1F;
@color__dodger-blue: #0093F5;
@color__uranian-blue: #0093F5;
@color__granite-gray: #666666;
@border__color: @color__granite-gray;
@text__color: #fafafa;
@input__border__radius: 12px;
@font: 'Open Sans', sans-serif;

@background-gradient: linear-gradient(90deg, @color__jet, @color__rich-black);
@card-background-gradient: linear-gradient(145deg, @color__jet, @color__rich-black);
@next-button-gradient: linear-gradient(145deg, #AEDEFF, @color__dodger-blue );
@back-button-gradient: linear-gradient(145deg, @color__jet, @color__eerie-black );
@box-shadow: 1px 4px 10px rgb(0 0 0 / 0.2);
@inner-box-shadow: inset 0 0 3px @color__rich-black;

body {
    background: @background-gradient;
}

.container {
    max-width: 560px;
    margin: 0 auto;
    font-family: @font;

    .container__card {
        background: @card-background-gradient;
        border: 1.5px solid @border__color;
        border-radius: 8px;
        padding: 1rem;
        color: @text__color;
        box-shadow: @box-shadow;
    }
}

.card__body {

    .form {

        .form__group {
            display: flex;
            flex-direction: column;
            margin-bottom: 1.5rem;

            .form__label {
                margin-bottom: 0.5rem;                
            }

            .form__input {
                outline: none;
                border: none;
                color: @text__color;
                padding: 0.5rem;
                background-color: @color__jet;
                border-radius: @input__border__radius;
                box-shadow: @inner-box-shadow;
                -moz-box-shadow: @inner-box-shadow;
                -webkit-box-shadow: @inner-box-shadow;
            }

            .form__date-picker {
                display: flex;
                flex-direction: row; 
                align-items: center;         
                .form__input {
                    width: 3.5rem;
                    margin-right: 4px;
                    border-radius: 0;
                }
                .form__input:nth-child(1) {
                    border-top-left-radius: @input__border__radius;
                    border-bottom-left-radius: @input__border__radius;
                }
                .form__input:nth-child(3) {
                    border-top-right-radius: @input__border__radius;
                    border-bottom-right-radius: @input__border__radius;
                }
            }
        }
    }
}

.card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;

    .form__btn {
        color: @text__color;
        padding: 0.5rem 1.5rem;
        border-radius: @input__border__radius;
        box-shadow: @box-shadow;
        cursor: pointer;
    }

    .card__footer__btn:nth-child(1) {
        background: @back-button-gradient;
        border: 1px solid @border__color;
    }
    .card__footer__btn:last-child {
        border: 1px solid @text__color;
        background: @next-button-gradient;
    }    
    
}
